# These are required for developing the package (running the tests, building
# the documentation) but not necessarily required for _using_ it.
codecov
coverage
flake8
pytest
doctr
sphinx
# These are dependencies of various sphinx extensions for documentation.
ipython
matplotlib
nbconvert==5.6.1
nbsphinx
numpydoc
sphinx-copybutton
docutils<0.17
sphinx_rtd_theme
