# These are required for developing the package (running the tests, building
# the documentation) but not necessarily required for _using_ it.
coverage
flake8
pytest
sphinx
# These are dependencies of various sphinx extensions for documentation.
ipython
ipython_genutils
Jinja2
matplotlib
nbconvert
nbsphinx
numpydoc
sphinx-copybutton
docutils
sphinx_rtd_theme
babel==2.11.0
